@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
<section class="hero">
    <div class="container">
        <div class="left-col">
            <h1>Create YOUR own character!</h1>
            <ul>
                <div class="hero-cta">
                    <p class="subhead">Create your own or browse out other people's creations!</p>
                    <li><a href="">Create</a></li>
                    <li><a href="">Browse</a></li>
                </div>
            </ul>
        </div>
        <div class="right-col">
            <img src="" class="hero-img" alt=""/>
        </div>
    </div>
</section>
</body>