@model UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    
    @if (ViewData["Message"] != null)
    {
        <div class="@ViewData["MessageClass"]" role="alert">
            @ViewData["Message"]
        </div>
    }
}

<h2>Register</h2>

<div class="login-form">
    <form asp-action="Register" asp-controller="User">
        <div class="form-group">
            <input asp-for="Name" type="text" class="form-control" placeholder="Name" required="required">
        </div>
        <div class="form-group">
            <input asp-for="Email" type="text" class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn2 btn-primary btn-block">Create Account</button>
        </div>
        <div>
            <a asp-action="Login" asp-controller="User">Already have an account</a>
        </div>
    </form>
</div>